/lab1/lab1-server-j2ee/.idea/
/lab1/lab1-server-j2ee/.gradle/
/lab1/lab1-server-j2ee/build/
/lab1/lab1-server-j2ee/*.iml

/lab1/lab1-server-standalone/.idea/
/lab1/lab1-server-standalone/.gradle/
/lab1/lab1-server-standalone/build/
/lab1/lab1-server-standalone/*.iml

/lab1/lab1-client/.idea/
/lab1/lab1-client/.gradle/
/lab1/lab1-client/build/
/lab1/lab1-client/*.iml

/lab2/lab2-server-standalone/.idea/
/lab2/lab2-server-standalone/.gradle/
/lab2/lab2-server-standalone/build/
/lab2/lab2-server-standalone/*.iml

/lab2/lab2-client/.idea/
/lab2/lab2-client/.gradle/
/lab2/lab2-client/build/
/lab2/lab2-client/*.iml

/lab3/lab3-server-standalone/.idea/
/lab3/lab3-server-standalone/.gradle/
/lab3/lab3-server-standalone/build/
/lab3/lab3-server-standalone/*.iml

/lab3/lab3-client/.idea/
/lab3/lab3-client/.gradle/
/lab3/lab3-client/build/
/lab3/lab3-client/*.iml
