/lab1/lab1-server-j2ee/.idea/
/lab1/lab1-server-j2ee/.gradle/
/lab1/lab1-server-j2ee/build/
/lab1/lab1-server-j2ee/*.iml

/lab1/lab1-server-standalone/.idea/
/lab1/lab1-server-standalone/.gradle/
/lab1/lab1-server-standalone/build/
/lab1/lab1-server-standalone/*.iml

/lab1/lab1-client/.idea/
/lab1/lab1-client/.gradle/
/lab1/lab1-client/build/
/lab1/lab1-client/*.iml

/lab2/lab2-server-standalone/.idea/
/lab2/lab2-server-standalone/.gradle/
/lab2/lab2-server-standalone/build/
/lab2/lab2-server-standalone/*.iml

/lab2/lab2-client/.idea/
/lab2/lab2-client/.gradle/
/lab2/lab2-client/build/
/lab2/lab2-client/*.iml

/lab3/lab3-server-standalone/.idea/
/lab3/lab3-server-standalone/.gradle/
/lab3/lab3-server-standalone/build/
/lab3/lab3-server-standalone/*.iml

/lab3/lab3-client/.idea/
/lab3/lab3-client/.gradle/
/lab3/lab3-client/build/
/lab3/lab3-client/*.iml

/lab4/lab4-server-j2ee/.idea/
/lab4/lab4-server-j2ee/.gradle/
/lab4/lab4-server-j2ee/build/
/lab4/lab4-server-j2ee/*.iml

/lab4/lab4-server-standalone/.idea/
/lab4/lab4-server-standalone/.gradle/
/lab4/lab4-server-standalone/build/
/lab4/lab4-server-standalone/*.iml

/lab4/lab4-client/.idea/
/lab4/lab4-client/.gradle/
/lab4/lab4-client/build/
/lab4/lab4-client/*.iml

/lab5/lab5-server-standalone/.idea/
/lab5/lab5-server-standalone/.gradle/
/lab5/lab5-server-standalone/build/
/lab5/lab5-server-standalone/*.iml

/lab5/lab5-client/.idea/
/lab5/lab5-client/.gradle/
/lab5/lab5-client/build/
/lab5/lab5-client/*.iml
